*.pyc
__pycache__
*/__pycache__
*.v
*.vo
*.vos
*.vok
*.aux
*.glob
*.txt
prompts.txt
prompts.jsonl
proof_log.jsonl
prompt_response.jsonl
success_ceres.jsonl
temp_coq*
prompt*.jsonl
selected_prompt.jsonl
all_prompt.jsonl
*proof_log*
../*.jsonl
../temp_coq*
*.hs
*.cache
*.ml
*.mli
*.out
wandb/*
logs/*
system_logs/*
proof_logs/*
*.log
extra_logs/*

/comparison/result_*
/comparison/*.jsonl